img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.addContainer {
  position: absolute;
  width: 35%;
  height: auto;
  /*background-color: red;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  right: 33%;
  top: 30%;
  color: white;
}

.addContainerBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.76);
}

.sectionCombo,
.addInput {
  width: 80%;
  border: 2px solid rgb(73, 73, 73);
  border-radius: 10px;
  padding: 10px;
  outline: none;
  margin: 10px;
}

.addBtn {
  width: 55%;
  border: 3px solid rgb(73, 73, 73);
  border-radius: 10px;
  padding: 10px;
  outline: none;
  margin: 10px;
}
