* > button {
  cursor: pointer;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}
.appBodyContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.logoContainer {
  display: flex;
}

.logoContainer > h6 {
  margin: 5px 0 5px 0;
}

.logoContainer > img {
  margin: 0 10px 0 0;
}
