* > button{
  cursor:pointer;
}


.App{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  
}
.appBodyContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  
}

.logoContainer{
  display: flex;
}

.logoContainer > h6{
  margin: 5px 0 5px 0;
}

.logoContainer > img{
  margin: 0 10px 0 0;
}